* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://source.unsplash.com/1600x900/?landscape');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: rgb(104, 103, 103, 0.7);
  color: white;
  font-size: 20px;
  box-shadow: gray 5px 5px 10px;
  padding: 2em;
  margin: 2em;
  border-radius: 20px;
  width: 100%;
  max-width: 420px;
  text-align: center;
}

.card input::placeholder {
  padding: 10px;
  font-size: 16px;
}

.search {
  border-radius: 20px;
}

.search > button {
  border-radius: 20px;
}

.temp {
  font-size: 32px;
}

.weather {
  text-align: left;
  font-size: 14px;
  text-transform: capitalize;
}

.main-weather {
  text-align: center;
  padding: 10px 0;
}
